
#parallax-1{
 background-image: url(photos/web\ site\ pics/DSC_4754.JPG);
 background-position: center;
 background-size: cover;
 min-height: 75%;
 background-repeat: no-repeat;
}
#parallax-2{
 background-image: url(Photos/web\ site\ pics/IMG-20161205-WA0029.jpg);
 min-height: 75%;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}
@media screen and (max-width: 768px){
 #parallax-1{
  background: url(photos/web\ site\ pics/IMG_1113.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 }
 #parallax-2{
  background: url(photos/web\ site\ pics/IMG_1113.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 }
 p{
  font-size: larger;
 }
}
@media screen and (min-width:769px){
 p{
  font-size: 18px;
 }
}
